@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,600&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:gray;
}
body {
    background-color: #000202;
}
a:link {
  color:gray;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: gray;
  text-decoration: none;
}
li {
  padding: 12px 8px 12px 40px;
  font-size: 25px;
  margin-bottom:5px;
  color:#FAEBD7;
  list-style: none;
  cursor: pointer;
}
.tab-button{
  width:100%;
  text-align:right;
  font-size: 30px;
  cursor: pointer;
  padding-right:10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.medium-text{
    color:gray;
    font-size: 25px;
}
.large-text{
    color:gray;
    font-size: 40px;
}
.align-right{
  text-align:right;
}
.align-left{
  text-align:left;
}
.align-center{
  text-align:center;
}
.margin-left{
  margin-left: 100px;
}
#seconds{
    padding-top:100px;
    min-width:50px;
}
.textview{
    /* width:100%; */
    width:220;
    margin:0;
    font-size:25;
    padding:5;
    color: #ddd;
}
.container{
    color:#ddd;
    font-family: "Poppins", sans-serif;
    margin:auto;
    width:100%;
    text-align:center;
}
#library-c {
    margin:5%;
    float:left;
}
#high-impact{
    font-size: 28px;
    text-align: right;
    padding-top:30px;
    padding-bottom:30px;
    background-color: #1C1A7E;
    background-image: linear-gradient(315deg, #1C1A7E 0%, #000202 100%);
    color: antiqueWhite;
    float:right;
    
}
#strength-c {
  float:left;
  margin-left: 5%;
}
#news-c{
    width:100%;
}
#cripto-calculator-c{
  display:flex;
  justify-content: center;
}
.row {
    display: flex;
}
.clock{
    flex:25%;
    padding-top:30px;
    padding-bottom: 15px;
    font-size:35px;
}
#left-menu{
    flex:35%;
    padding-top:15px;
    margin-bottom: 30px;
}
.recipe{
    flex:65%;
    padding-left: 5%;
    text-align: left;
    display: none;
}
.left-menu-button  {
    background-color: #70B3D4;
    background-image: linear-gradient(315deg, #1C1A7E 0%, #7BDAC6 100%);

    border: 1px solid black;
    border-radius:25px;
    color:black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 24px; /* Some padding */
    margin:auto;
    margin-bottom:10px;
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}
/*---------------------------*/
  
/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 25px;
  border-radius:25px;
  margin-bottom:5px;
  color:#FAEBD7;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  color: #70B3D4;
}

/* Darker background-color on hover */
ul li:hover {
  background: #1C1A7E;
  background-color: #70B3D4;
  background-image: linear-gradient(315deg, #70B3D4 0%, #1C1A7E 100%);
}

/* When clicked on, change style */
ul li.checked {
  background-color: #70B3D4;
  background-image: linear-gradient(315deg, #7BDAC6 0%, #1C1A7E 150%);
  color: #ddd;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  border-radius:40%;
}

.close:hover {
  color: antiqueWhite;
}

/* Style the header */
.header {
  padding: 30px 40px;
  color: #ddd;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  border-radius: 25px;
  width: 100%;
  padding: 10px;
  padding-left:15px;
  font-size: 24px;
  margin-bottom:5px;
  background-color:gainsboro;
}
/* -------------------------------- */
#strength-table {
  border: 1px solid gray;
  /*float:left;*/
  /*margin:auto;*/
}
th, td {
  padding: 8px;
  cursor: pointer;
}
th {
  color:#7BDAC6;
}
.h1-title{
  text-align:left;
  font-size:48px;
  margin-bottom:2rem;
}
.empty-cell {
  background-color: black;
}
.non-empty-cell {
  background-color: gray;
}
#strength-input {
  float: left;
  width: 50%;
}
#strength-output {
  float:right;
  text-align: left;
  width: 50%;
}
.recipe-title{
  color:red;
  margin-left: 0%;
}
#cripto-calculator-result{
  color:#7BDAC6;
}
